@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --white: #FFFFFF;
    --yellow: #DDB142;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body {
    background-color: #d8d8d8;

}

.header {
    display: flex;
    position: relative;
    z-index: -1;
}

.left_body {
    width: 70%;
    height: 100vh;
    background-color: #275A53;
    z-index: -1;
}

.right_body {
    width: calc(100%-70%);
    height: 100vh;
    background-color: #F6F0E4;
    z-index: -1;
}

.navbar {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2rem 5rem 0 5rem;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-left: 5rem; */
    color: var(--white);
}

.navbar .logo i {
    color: var(--yellow);
    font-size: 1.8rem;
    margin-right: .8rem;
}

.navbar .nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 400;
    padding-left: 1rem;
}

.navbar .cart {
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin-right: 5rem; */
}

.navbar .cart i:nth-child(2) {
    padding-left: 1.2rem;
    font-size: 2rem;
}

.left_body .body {
    position: absolute;
    top: 30%;
    left: 10%;
}

.left_body .body h1 {
    font-size: 3rem;
    color: var(--white);
    letter-spacing: 1px;
    font-weight: 500;
}

span {
    color: var(--yellow);
}

.left_body .body p {
    font-size: .9rem;
    color: var(--white);
    margin-top: 2rem;
    word-spacing: 2px;
    line-height: 25px;
}

.left_body .body .explore {
    width: 9.9rem;
    height: 3rem;
    align-items: center;
    display: inline-flex;
    /* border: 1px solid black; */
    padding: 10px 0px 10px 10px;
    background-color: var(--yellow);
    margin-top: 2.5rem;
}

.left_body .body .explore h6 {
    font-size: .9rem;
    color: var(--white);
    font-weight: 400;
    margin-right: 1rem;
}

.left_body .body .explore .arr {
    width: 2.5rem;
    height: 2rem;
    background-color: var(--white);
    align-items: center;
    position: relative;
    /* padding: 10px 10px 10px 0; */

}

.left_body .body .explore .arr i {
    top: .5rem;
    left: 30%;
    display: flex;
    position: absolute;

}

.header .right_body .box {
    width: 10rem;
    height: 10rem;
    background-color: gray;
    opacity: .5;
    z-index: 1;
    top: 20%;
    right: 8%;
    position: absolute;
}

.header .image {
    position: absolute;
    width: 45rem;
    height: 28rem;
    /* border: 5px solid rebeccapurple; */
    background-image: url(https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    top: 25%;
    right: 10%;
    z-index: 1;
}

.header .watch {
    position: absolute;
    width: 15rem;
    height: 3.5rem;
    /* border: 2px solid red; */
    background-color: var(--white);
    bottom: -10%;
    right: -2%;
    z-index: 999;
    display: flex;
}

.header .watch h4 {
    font-size: 1.1rem;
    font-weight: 500;
    align-self: center;
    padding-left: 10%;
}

.header .watch .arr {
    height: 5.5rem;
    width: 6rem;
    align-items: center;
    background-color: var(--yellow);
    top: -1rem;
    position: absolute;
    right: 0;
}

.header .watch .arr i {
    font-size: 3.5rem;
    color: var(--white);
    padding: 1.2rem 0 0 1.4rem;
}

.middle {
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    /* position: relative; */
    display: flex;
    flex-direction: row;
}

.middle .left {
    position: relative;
    width: 50%;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
}

.middle .right {
    /* position: absolute; */
    width: 50%;
    height: 100vh;
    /* border: 2px solid rgb(5, 1, 1); */
    display: flex;
}

.middle .left .container1 {
    position: absolute;
    width: 47%;
    height: 85%;
    background-image: url(https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}

.middle .left .container2 {
    position: absolute;
    width: 47%;
    height: 60%;
    right: 1rem;
    background-image: url(https://images.pexels.com/photos/1374125/pexels-photo-1374125.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.middle .left .container3 {
    width: 30rem;
    height: 15rem;
    background-color: var(--white);
    bottom: 2rem;
    right: 0;
    position: absolute;
    box-shadow: 4px 3px 20px 3px rgb(123, 125, 125);
}

.middle .left .container3 .review {
    margin: 3rem 2rem 0 1.5rem;
    border-left: 2px solid var(--yellow);
}

.middle .left .container3 .review p {
    padding-left: 2rem;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2rem;
}

.middle .left .container3 .details {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem 2rem 0 1.5rem;
}

.middle .left .container3 .details .user {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.middle .left .container3 .details .user .image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* border: 2px solid red; */
    background-image: url(https://images.pexels.com/photos/2250778/pexels-photo-2250778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.middle .left .container3 .details .user h3{
    font-size: .9rem;
    font-weight: 500;
    margin-left: 1rem;
}

.middle .left .container3 .details .rating{
    display: block;
}

.middle .left .container3 .details .rating .star i{
    font-size: .9rem;
    color: var(--yellow);

}

.middle .left .container3 .details .rating h3{
    font-size: .9rem;
    margin-top: .5rem;
}

.middle .right .right-content{
    padding: 8rem 5rem 0 5rem;
}

.middle .right .right-content h1{
    font-size: 3rem;
    color: #0b170b;
    letter-spacing: 1px;
    font-weight: 500;
}

.middle .right .right-content span{
    color: #275A53;
}

.middle .right .right-content p{
    padding-top: 2.5rem;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-right: 5rem;
}

.middle .right .right-content .sign img{
    padding-top: 2rem;
}

.middle .right .right-content .sign img{
    width: 5rem;
    /* height: 3rem; */
}

.middle .right .right-content h2{
    font-size: .9rem;
    padding-top: .9rem;
}

.middle .right .right-content .explore {
    width: 9.9rem;
    height: 3rem;
    align-items: center;
    display: inline-flex;
    /* border: 1px solid black; */
    padding: 10px 0px 10px 10px;
    background-color: var(--yellow);
    margin-top: 2.5rem;
}

.middle .right .right-content .explore h6 {
    font-size: .9rem;
    color: var(--white);
    font-weight: 400;
    margin-right: 1rem;
    margin-left: .8rem;
}

.middle .right .right-content .explore .arr {
    width: 2.5rem;
    height: 2rem;
    background-color: var(--white);
    align-items: center;
    position: relative;
    /* padding: 10px 10px 10px 0; */

}

.middle .right .right-content .explore .arr i {
    top: .5rem;
    left: 30%;
    display: flex;
    position: absolute;

}

.projects{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.projects .left{
    /* position: absolute; */
    width: 35%;
    height: 100%;
    /* border: 2px solid black; */

}

.projects .right{
    position: relative;
    width: 65%;
    height: 100%;
    /* border: 2px solid red; */
}

.projects .left .right-content{
    padding: 15rem 5rem 0 5rem;
}

.projects .left .right-content h1{
    font-size: 2.5rem;
    color: #0b170b;
    letter-spacing: 1px;
    font-weight: 500;
}

.projects .left .right-content span{
    color: #275A53;
}

.projects .left .right-content p{
    padding-top: 2.5rem;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-right: 5rem;
    color: #505250;
    width: 20rem;
    font-weight: 400;
}

.projects .left .right-content .explore {
    width: 10rem;
    height: 3rem;
    align-items: center;
    display: inline-flex;
    /* border: 1px solid black; */
    padding: 10px 0px 10px 10px;
    background-color: var(--yellow);
    margin-top: 2.5rem;
}

.projects .left .right-content .explore h6 {
    font-size: .9rem;
    color: var(--white);
    font-weight: 400;
    margin-right: 1rem;
    margin-left: .6rem;
}

.projects .left .right-content .explore .arr {
    width: 2rem;
    height: 2rem;
    background-color: var(--white);
    align-items: center;
    position: relative;
    /* padding: 10px 10px 10px 0; */

}

.projects .left .right-content .explore .arr i {
    top: .5rem;
    left: 30%;
    display: flex;
    position: absolute;

}

.right .container1{
    position: absolute;
    width: 25rem;
    height: 35rem;
    /* border: 2px solid red; */
    top: 15%;
    left: 10%;
    z-index: 1000;
    background-image: url(https://images.pexels.com/photos/1457844/pexels-photo-1457844.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.right .container2{
    position: absolute;
    width: 20rem;
    height: 30rem;
    /* border: 2px solid red; */
    top: 19%;
    left: 43%;
    z-index: 999;
    background-image: url(https://images.pexels.com/photos/462235/pexels-photo-462235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.right .container3{
    position: absolute;
    width: 17rem;
    height: 28rem;
    /* border: 2px solid red; */
    top: 21%;
    left: 68%;
    z-index: 998;
    background-image: url(https://images.pexels.com/photos/534172/pexels-photo-534172.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.right .container2 h2,
.right .container3 h2{
    position: absolute;
    z-index: 1000;
    font-size: 2rem;
    color: #275A53;
    bottom: 2rem;
    right: 20%;
}

.right .container1 h2{
    position: absolute;
    z-index: 1000;
    font-size: 2rem;
    color: #275A53;
    bottom: 2rem;
    right: 40%;
}

.right .container1 p{
    position: absolute;
    z-index: 1000;
    font-size: 1rem;
    color: #000000;
    bottom: 1rem;
    left: 30%;
}

.right .container2 p,
.right .container3 p{
    position: absolute;
    z-index: 1000;
    font-size: 1rem;
    color: #000000;
    bottom: 1rem;
    right: 30%;
}
















@media(max-width: 1100px){
    html{
        size: 90%;
    }
    
    .header .image{
        width: 35rem;
        height: 25rem;
    }

}

@media(max-width: 1460px){
    .header .image{
        width: 35rem;
        height: 25rem;
    }

}

@media(max-width: 1260px){
    .header .image{
        width: 30rem;
        height: 22rem;
    }

    .left_body .body h1{
        font-size: 2.5rem;
    }

.left_body .body p {
    font-size: .8rem;
    letter-spacing: .1rem;
    width: 20rem;
}

}

@media(max-width: 1060px){
    .header .image{
        width: 25rem;
        height: 17rem;
    }

    .left_body .body h1{
        font-size: 2rem;
    }

.left_body .body p {
    font-size: .7rem;
    letter-spacing: .1rem;
    width: 15rem;
}
}









